<form id='registerForm' method="POST">
    Username:<input type="text" name="username">
    Password:<input type="text" name="password">
    Confirm Password: <input type="text" name="confirmPass">

</form>