html {
  background-color: lightblue;
  color: #11283b;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;

}

img {
  height: 100px;
  width: 100px
}

div.gallery {
  margin: 15px;
  border: 1px solid red;
  float: left;
  width: 250px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

#container {
  width: 100%;
  
}

#ingredientsTable {
  overflow-y: scroll;
  height: 500px;
  width: 400px;
  display: block;
  float: left;
  border: 3px solid #11283b;
}

#ingredientsTable td {
  margin-bottom: 50px;
  width: 400px;
  font-size: larger;
  border: 2px dotted;
}

#yourIngredients {
text-align: center
}

input {
  float: right
}