@font-face {
  font-family: MyFont;
  src: url("fonts/CarroisGothicSC-Regular.ttf");
}

html {
  background-color: #2c333a;
  color: white;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.gallery {
  margin-left: 4%;
  float: left;
  width: 270px;
  height: 300px;
  text-align: center;
  text-decoration: underline;
  font-size: larger;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
}
.gallery img {
  padding-top: 10px;
}
#header {
  font-size: 90px;
  background-color: #11283b;
  color: white;
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  font-family: MyFont;
}

#header a {
  color: white;
}

#container {
  display: inline-flex;
}

.ingredientsTable {
  overflow-y: scroll;
  height: 400px;
  width: 500px;
  display: block;
}

#searchTable {
  border: 7px solid lightslategrey;
  border-radius: 10px;
  margin-left: 15%;
}

.ingredientsTable td {
  margin-bottom: 50px;
  width: 500px;
  font-size: larger;
  border: 1px dotted #11283b;
  background-color: white;
  font-family: MyFont;
  font-weight: bold;
}

.text {
  font-family: MyFont;
  font-size: 28px;
  margin-left: 10%;
  font-weight: bold;
  display: inline-block;
}

#yourIngredients {
  text-align: center;
  margin-left: 10%;
  height: 428px;
  border: 7px solid lightslategrey;
  border-radius: 10px;
}

#checkbox {
  float: right;
}

#ingredient {
  font-size: larger;
  color: #11283b;
}

#submitIngredients {
  font-size: larger;
  width: stretch;
}

.ingredientsTable label {
  color: #11283b;
}

#logo {
  height: 150px;
  width: 150px;
  top: 15px;
  left: 470px;
  position: absolute;
}

#logo:hover {
  transform: scaleX(-1);
}

#link {
  text-decoration: none;
}

.sidebar1 {
  height: 100%;
  width: 40px;
  position: absolute;
  background-color: #11283b;
  margin-bottom: 0;
}

.sidebar2 {
  height: 100%;
  width: 40px;
  position: absolute;
  background-color: #11283b;
  margin-bottom: 0;
  right: 0;
}
a {
  text-decoration: none;
}

#drinkInfo {
  margin-left: 50px;
}

.Data {
  font-family: MyFont;
  font-weight: bold;
}
.Data h1 {
  margin-left: 80px;
  font-size: 40px;
}

#registration_login {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 0 0 20px #000;
  font-family: MyFont;
  text-align: center;
}

#registration_login h1 {
  padding-top: 10px;
  color: #11283b;
  text-align: center;
  text-decoration: underline;
}

#registration_login label {
  color: #11283b;
  font-weight: bold;
  font-size: larger;
}

#submitButton {
  margin-top: 20px;
  font-size: large;
}

#usernameDiv {
  margin-top: 60px;
  text-align: center;
}

#usernameDiv input {
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: #11283b;
  background-color: lightgrey;
}

#passwordDiv {
  text-align: center;
  padding-left: 1px;
}

#passwordDiv input {
  padding-top: 3px;
  padding-bottom: 3px;
  border-color: #11283b;
  background-color: lightgrey;
}

#test {
  margin: 0 auto;
}

#error {
  color: #11283b;
}
#drinkPage {
  margin-left: 8%;
  display: grid;
  grid-template-columns: repeat(2, 215px) repeat(3, 1fr);
  grid-template-rows: 0.5fr 400px repeat(3, 1fr);
  grid-column-gap: 10px;
  font-family: MyFont;
}

#name {
  display: block;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  grid-area: 1 / 1 / 2 / 6;
}

#drinkPage span {
  font-size: 30px;
  font-weight: bold;
}
#drinkPage img {
  padding: 10px;
  background-color: white;
  height: 400px;
  width: 400px;
  grid-area: 2 / 1 / 5 / 3;
  border-radius: 10px;
}

#drinkIngredients {
  grid-area: 2 / 3 / 4 / 4;
}

#instructions {
  width: 400px;
  height: 50%;
  padding: 20px;
  background-color: white;
  color: #11283b;
  text-align: center;
  border-radius: 10px;
  font-size: larger;
  grid-area: 2 / 4 / 4 / 6;
}
#instructions h3 {
  text-decoration: underline;
}

#logIn {
  right: 80px;
  top: 10px;
  color: white;
  font-weight: bold;
  position: absolute;
  font-size: 25px;
  font-family: MyFont;
}

#logIn a {
  color: white;
  padding-left: 5px;
  text-decoration: underline;
}

#logout {
  text-decoration: underline;
}

#change input {
  height: 20px;
  width: stretch;
}

#change ::-webkit-input-placeholder {
  font-size: small;
}

#search {
  color: white;
}

#modal {
  margin-left: 100px;
}

#modeBox {
  height: 60%;
  width: 35%;
  background-color: white;
  z-index: 1;
  position: fixed;
  margin-left: 32.5%;
  transform: scale(1);
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-radius: 25px;
  transition: all 0s ease-in-out;
}
